base-font = "Helvetica Neue",Helvetica,Arial,sans-serif

extra-large-font =
  font-family base-font
  font-size 20px

large-font =
  font-family base-font
  font-size 18px

medium-font =
  font-family base-font
  font-size 16px

small-font =
  font-family base-font
  font-size 14px

extra-small-font =
  font-family base-font
  font-size 13px

extra-extra-small-font =
  font-family base-font
  font-size 12px
